<div class='body'>
    <div id="cocos-fitness" style="overflow: hidden; height: 100%;" onselectstart="return false;">
        <div v-if="refresh" style="height: 100%; margin: 20px;">
            
            <!-- <div id="loading" v-if="loading" class="fit"><ui-loading></ui-loading><div>{{ message }}</div></div> -->
            <!-- 一下为逻辑页面 -->
            <!-- <div> -->
                <ui-checkbox :value="enableNexGim" @change="nexgimChange">NexGim</ui-checkbox>
                <ui-checkbox :value="enablePLDroidPlayer" @change="pldroidChange">PLDroid Player</ui-checkbox>
            <!-- </div> -->
            </div>
        </div>
    </div>
</div>
